* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 95vh;
  margin: 0;
  padding: 0 24px;
  overflow-x: hidden;
  font-family: system-ui, 'Avenir', Helvetica, Arial, sans-serif;
  background-color: #f4f7f6;
}