header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cart-item:hover {
  background-color: #f8f9fa;
}

.card-body {
  max-height: 400px;
  overflow-y: auto;
}

.card-body::-webkit-scrollbar {
  width: 6px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 3px;
}

.card-img-top{
  object-fit: cover;
  height: 200px;
}

footer {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}